.embedded-markdown > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.tight-markdown > * {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

code {
  &::before {
    content: "" !important;
  }
  &::after {
    content: "" !important;
  }
}
