---
import Base from "../layouts/Base.astro";
---

<Base ogTitle="Not Found">
    <h1 class="text-4xl font-bold">http/404</h1>
    <p class="text-xl py-4">Looks like the page you were looking for isn't here.</p>
    <p class="text-xl py-4">
        <a href="/" class="underline decoration-dotted text-blue-300 hover:text-blue-400 transition-colors inline-block" data-astro-prefetch>
            Head home
        </a>
    </p>
</Base>
