---
---

<div class="flex justify-between text-2xl py-6">
    <div class="font-semibold">
        <a href="/" data-astro-prefetch>KuNet's Blog</a>
    </div>
    <div class="flex gap-4">
        <a class="text-gray-300 hover:text-white transition-colors duration-200" href="/" data-astro-prefetch>home</a>
        <a class="text-gray-300 hover:text-white transition-colors duration-200" href="/tags" data-astro-prefetch>tags</a>
    </div>
</div>
