---
import { MDXInstance } from 'astro';

interface Props {
    articleKey: string,
}

const { articleKey } = Astro.props
const article = (await Astro.glob("../articles/*/*.mdx"))
    .find(a => a.frontmatter.key == articleKey) as MDXInstance<Record<string, any>>;
---

<div class="not-prose leading-snug">
    <a href={`/article/${article.frontmatter.key}`} data-astro-prefetch>
        <div class="w-full outline outline-1 outline-cyan-800 hover:outline-cyan-500 transition-all duration-200 p-4 rounded-xl">
            <h2 class="font-semibold">{article.frontmatter.title}</h2>
            <h3 class="text-gray-300 italic">{article.frontmatter.description}</h3>
            <h3 class="text-gray-400">{new Date(article.frontmatter.date).toLocaleDateString('en-us', { year: "numeric", month: "short", day: "numeric" })}</h3>
            <div class="flex gap-2 text-gray-400">{article.frontmatter.tags.map(tag => <span>#{tag}</span>)}</div>
        </div>
    </a>
</div>
