---
interface Props {
    pageTitle: string,
}

import Nav from '../components/Nav.astro';
const { pageTitle = "KuNet's Blog" } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
    </head>
    <body>
        <Nav />
        <slot />
    </body>
</html>
